body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

/* header start */
.logo{
  margin-top: 10px;
}
.head-cus{
  background: #F1F1F1;
}
/* header end */

/* search field start */
.search-field {
  border: none;
  padding: 2px;
  outline: none;
  background: #F1F1F1;
}
.speech{
  text-align: center;
  color: #286090;
  font-weight: bold;
}
.search-field:hover {
  outline: none;
  border: none;
}
.search-box {
  border: 1px solid rgb(3, 118, 211);
  width: 278px;
  border-radius: 7px;
  margin: auto;
  margin-top: 30px;
  border-right: none;
  margin-bottom: 30px;
}
.search-button {
  padding: 10px 50px;
  border-radius: 25px;
  margin-left: 20px;
}
/* search field end */

/* product sec start */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
  height: 460px;
}
.single-product h3{
  color: #286090;
  font-weight: bold;
  font-size: 20px;
}
span{
  font-weight:bold;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 30px;
  transform: scale(1.1);
  background: white;
}
.cus-pro{
  margin-top: 40px;
  background: #F1F1F1;
}
.product{
  margin: 40px;
  background: white;
  border-radius: 30px;
}
.product-image {
  width: 150px;
  height: 150px;
  border: 2px solid #286090;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 4px 4px 7px rgb(228, 214, 214);
}
/* product sec end */

/* cart sec start */
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  text-align: center;
  background: white;
  margin-top: -3%;
}
.cart h1{
  font-weight: bold;
  color: #449D44;
}
.show-details hr{
  height: 2px;
  background: gray;
}
.cart-main {
  padding-right: 30px;
}
/* cart sec end */

/* details sec start  */
.show-details{
  margin-top: 18%;
  position: fixed;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  width: 350px;
  padding: 10px;
  background: white;
}
.show-details h1{
  font-weight: bold;
  text-align: center;
  color: #C9302C;
}
.show-details h4{
  font-weight: bold;
}
/* details sec end  */

/* responsive sec start  */
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
/* responsive sec start  */